<h3>新規登録</h3>

<div class="main-container">

<%= form_with model: @room do |f| %>
    <div class ="room_form">
    <%= f.label :name, "施設名" %>
      <div class="RoomsForm__input">
       <%= f.text_field :name, class: 'form-control', id:"name", size:"60" , placeholder:"ルーム名を入力"%>

    <div class ="room_form">
    <%= f.label :introduction ,"施設詳細" %>
      <div class="RoomsForm__input">
       <%= f.text_area :introduction, class: 'form-control',  id:"introduction", size: "55x5" , placeholder:"施設名を入力"%>
    
       <div class ="room_form">
       <%= f.label :introduction ,"料金" %>
         <div class="RoomsForm__input">
          <%= f.text_field :price ,class: 'form-control',  id:"price" , size:"60" , placeholder:"一日あたりの料金を入力"%>

          <div class ="room_form">
          <%= f.label :introduction ,"住所" %>
            <div class="RoomsForm__input">
             <%= f.text_field :address  ,class: 'form-control',  id:"address" , size:"60" , placeholder:"住所を入力"%>

             <div class="room_form_FileUpload">
             <%= f.label :image ,"施設写真" %>
             <div class=" RoomsForm__input_FileUpload">
                 <%= f.file_field :image ,class:"form-control" ,id:"image" %>
                 <div>
                 <%= f.submit "保存" ,class: "btn"%>

                 <div>
                 <%= link_to "キャンセル", :rooms, class: "back" %>
    </div>
    <% end %>